<div class="content-wrapper">
  <div class="content-header row">
  </div>
  <div class="content-body">
    <div style="background: #17191d;">
      <div class="container">
        <div class="row">
          <div class="col-md-5 d-none d-sm-none d-xs-none d-md-block">
            <img src="app-assets/images/img_2.png" style="position: fixed;left:0;width: 43%;height: auto" />
          </div>
          <div class="col-md-7" style="background-color:#17191d; background-image: url(https://zipcx.io/assets/images/01.png); background-repeat: no-repeat;background-position: top left;">

            <div class="container" style="padding-top: 110px;padding-bottom: 110px;">
              <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12">
                  <div class="login_wrapper">
                    <div class="row">
                      <div class="col-md-12">
                      </div>
                    </div>
                    <br>

                    <p class="text-center h5 text-capitalize subtitle" style="color: #c88c39;">WELCOME TO ZIPCOIN</p>
                    <p class="text-center h5 text-capitalize subtitle">Forgot Password</p>

                    <form class="form-horizontal form-signin" #changedata="ngForm" (ngSubmit)="change(changedata.value)">

                      <fieldset class="form-group">
                        <label for="user-password">Password</label>
                        <input type="password" *ngIf="errpassword" class="form-control" id="user-password" name="password" placeholder="Your Password"
                          ngModel>
                        <input type="password" *ngIf="!errpassword" style="border: 1px solid red;" class="form-control" id="user-password" name="password"
                          placeholder="Your Password" ngModel>
                      </fieldset>

                      <fieldset class="form-group">
                        <label for="confirm-password">Confirm Password</label>
                        <input type="password" *ngIf="errrepassword" class="form-control" id="confirm-password" name="repassword" placeholder="Your Confirm Password"
                          ngModel>
                        <input type="password" *ngIf="!errrepassword" style="border: 1px solid red;" class="form-control" id="confirm-password" name="repassword"
                          placeholder="Your Confirm Password" ngModel>
                      </fieldset>

                      <div style="text-align: center;">
                        <button type="submit" class="custom_btn_css" id="btn_forgotpassword">RECOVER MY PASSWORD</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>