<div class="app-content content">
  <div class="content-wrapper mrgtop">
    <div class="content-header row">
      <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block pathffont">FAQ</h3>
        <div class="row breadcrumbs-top d-inline-block">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb pathsfont">
              <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">FAQ
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <div class="row justify-content-center">
        <div class="row bg-zipco" style="padding-top: 25px;border-radius: 5px;">
          <div class="col-md-6 col-12 order-2" style="max-width: 570px;">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel"
                aria-labelledby="v-pills-home-tab">
                <div id="accordion" class="collapse-icon accordion-icon-rotate left">
                  <div class="card">
                    <div class="card-header" id="heading11">
                      <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse11"
                        aria-expanded="false" aria-controls="collapse11" href="#">How do I use ZIPCO Remit to send
                        money?</a>
                    </div>
                    <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion" style="">
                      <div class="card-body">

                        Sending money with ZIPCO Remit is easy, secure and fast! We give you choices, so you can decide
                        how you want to send or receive money.
                        <br><br>
                        First, use your email address to create a free account on our website or through our app in the
                        App Store or Google Play. Enter the amount of money you want to send, your beneficiary’s
                        information, and your payment information.
                        <br><br>
                        Depending on where your beneficiary is located, he/she may have multiple options for how to
                        receive money including bank transfer, cash pick up, or home delivery. Click here to see our
                        partners and options for how to receive money.
                        <br><br>
                        Your transfer is important to us and you as our number one customer, so we provide status
                        updates
                        regularly that allow you to easily track your transfer.
                        <br><br>
                        When you first submit your transfer, you’ll receive a receipt with your reference number. We
                        will
                        send you an update if you make any changes to the transfer, or if it is delayed for any reason.
                        <br><br>
                        After the transfer completes, both you and the beneficiary will receive a notification that the
                        money has arrived.
                        <br><br>
                        At any time, you can sign into your account and select “Transactions” to view all of your status
                        updates.
                        <br><br>
                        ZIPCO Remit works with thousands of trusted partners worldwide to deliver money safely,
                        securely,
                        and on time.
                        <br><br>
                        ZIPCO Remit is the first company worldwide to offer customer a standard low flat rate fee of
                        $6.99usd and the money arrives in minutes.
                        <br><br>
                        With ZIPCO Remit, transfer time ranges from a few seconds to a few minutes.
                        <br><br>
                        Our low money transfer fees and exchange rates are hard to beat.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading12">
                      <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse12"
                        aria-expanded="false" aria-controls="collapse12" href="#">Does ZIPCO Remit have a Loyalty
                        program?</a>
                    </div>
                    <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
                      <div class="card-body">
                        Yes! Our ZIPCO Remit loyalty program rewards you on your birthday anniversary with $5 0r $10
                        CAD,
                        free transfer or our precious ZIPCO token (ZIPCO); limits depend on previous transaction
                        amounts.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading13">
                      <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse13"
                        aria-expanded="false" aria-controls="collapse13" href="#">How do I update my beneficiary’s
                        information?
                      </a>
                    </div>
                    <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
                      <div class="card-body">
                        Updating or deleting a beneficiary’s information is easy. On our website, go to “Settings” and
                        click on “Beneficiaries.” From there you can add a new beneficiary, update an existing
                        beneficiaries’ name, phone number, or address, or remove an existing beneficiary.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading14">
                      <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse14"
                        aria-expanded="false" aria-controls="collapse14" href="#">How do I change or cancel my transfer?
                      </a>
                    </div>
                    <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion">
                      <div class="card-body">

                        You can make changes to your beneficiary or delivery method if your transfer is not already
                        complete. Simply contact us ( admin@ziprecoinmit.com ) and provide your reference number, and
                        we’ll help you with any changes you’d like to make.
                        <br><br>
                        Changes will be applied immediately and may cause your transfer to be delayed.
                        <br><br>
                        ZIPCO Remit has made this easy to do when logged in from our website or app:
                        <br><br>
                        1. Locate your transfer receipt by clicking “Transfer history” on ZIPCO Remit’s website or
                        “Transfer details” in our app.
                        <br><br>
                        2. Go to the bottom of your ZIPCO Remit receipt and select "Cancel transfer."
                        <br><br>
                        3. We will ask you to provide a reason for your cancellation. Providing this reason will help us
                        improve our service.
                        <br><br>
                        4. Once your transfer is cancelled we will provide you with a new receipt and send you an email
                        confirming your cancellation and your refund status.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading15">
                      <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse15"
                        aria-expanded="false" aria-controls="collapse15" href="#">How does ZIPCO Remit keep my account
                        safe and secure?
                      </a>
                    </div>
                    <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion">
                      <div class="card-body">
                        We work hard to protect your information and to ensure your peace of mind and have a robust
                        security system to keep you safe around the clock.
                        <br><br>
                        The servers that we use to store your information are protected both physically and
                        electronically. They are behind a firewall and do not directly connect to the Internet.
                        <br><br>
                        Our bank-level security uses 256-bit encryption so all the information you send to us remains
                        private and secure. For example; the whole www.zipcoinremit.com website. We are highly regulated
                        by government agencies to keep your valuable information safe.
                        <br><br>
                        The servers that we use to store your information are protected both physically and
                        electronically. They are behind a firewall and do not directly connect to the Internet.
                        <br><br>
                        We are highly regulated by government agencies to keep your valuable information safe.
                        <br><br>
                        If you encounter an unauthorized charge from ZIPCO Remit, please contact us: (link to
                        admin@zipcoinremit.com ) immediately so that we may secure your account and investigate the
                        activity.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading23">
                      <a class="card-title lead" data-toggle="collapse" data-target="#collapse23" aria-expanded="false"
                        aria-controls="collapse23" href="#">What are your transfer limits?</a>
                    </div>
                    <div id="collapse23" class="collapse" aria-labelledby="heading23" data-parent="#accordion1">
                      <div class="card-body">
                        When you first register with ZIPCO Remit, we limit the amount of money that you can send within
                        a
                        24-hour period to comply with regulatory requirements. It’s easy to request an increase. Click
                        here to see and manage your sending limits.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12 order-2" style="max-width: 570px;">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel"
                aria-labelledby="v-pills-home-tab">
                <div id="accordion" class="collapse-icon accordion-icon-rotate left">
                  <div class="card">
                    <div class="card-header" id="heading21">
                      <a class="card-title lead collapsed" data-toggle="collapse" data-target="#collapse21"
                        aria-expanded="false" aria-controls="collapse21" href="#">Does ZIPCO Remit have a referral
                        program?
                      </a>
                    </div>
                    <div id="collapse21" class="collapse" aria-labelledby="heading21" data-parent="#accordion" style="">
                      <div class="card-body">
                        Yes! Our ZIPCO Remit Rewards program rewards you and every friend you refer who signs up and
                        sends
                        money with ZIPCO Remit for the first time. And the best part is that there’s no limit to how
                        many
                        new customers one person can refer.
                        <br><br>
                        To get started, just click “Earn rewards” on our website or on our app. You can share your
                        unique
                        referral link with your friends through social media, text message, or email.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading22">
                      <a class="card-title lead" data-toggle="collapse" data-target="#collapse22" aria-expanded="false"
                        aria-controls="collapse22" href="#">How do I manage my ZIPCO Remit account?
                      </a>
                    </div>
                    <div id="collapse22" class="collapse" aria-labelledby="heading22" data-parent="#accordion">
                      <div class="card-body">
                        You can make changes to your password, address, phone number and email address through our
                        website
                        or app.
                        <br><br>
                        1. Sign in to your account.
                        <br><br>
                        2. Select “Settings”.
                        <br><br>
                        3. From “Settings”, select “Profile information”.
                        <br><br><br>
                        1. Select “edit password”.
                        <br><br>
                        2. Enter your current password.
                        <br><br>
                        3. Enter your new password twice.
                        <br><br>
                        4. Select “change password” to complete and save your changes.
                        <br><br><br>
                        1. Select “edit address”.
                        <br><br>
                        2. Enter your new address.
                        <br><br>
                        3. Select “change address” to complete and save your changes.
                        <br><br><br>
                        1. Select “edit phone number”.
                        <br><br>
                        2. Enter your new phone number.
                        <br><br>
                        3. Select “change phone number” to complete and save your changes.
                        <br><br><br>
                        1. Select “edit email address”.
                        <br><br>
                        2. Enter your new email address.
                        <br><br>
                        3. Select “change email” to complete and save your changes.
                        <br><br>
                        If you have any additional questions, please contact us (admin@zipcoinremit.com)
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading43">
                      <a class="card-title lead" data-toggle="collapse" data-target="#collapse43" aria-expanded="false"
                        aria-controls="collapse43" href="#">What information does ZIPCO Remit require?
                      </a>
                    </div>
                    <div id="collapse43" class="collapse" aria-labelledby="heading43" data-parent="#accordion">
                      <div class="card-body">
                        As a licensed money services business (MSB), ZIPCO Remit and it's banking partners are required
                        to
                        comply with government-mandated verification requirements and Know Your Customer (KYC), which
                        include validating customers' personal information.
                        <br><br>
                        For your safety and convenience, we will use information that you provide to verify your
                        identity
                        electronically. However, we ask for additional documentation, such as your ID, a bank statement,
                        or utility bill, etc.
                        <br><br>
                        In some cases, we may ask about the nature of your remittance. This information gives us a
                        better
                        understanding of who you are sending money to and your reason for using ZIPCO Remit. This
                        understanding not only allows us to meet our regulatory obligations, but also, more importantly
                        allows us to continually improve our service to you.
                        <br><br>
                        Any information you provide to ZIPCO Remit is securely stored in accordance with our privacy
                        policy.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading44">
                      <a class="card-title lead" data-toggle="collapse" data-target="#collapse44" aria-expanded="false"
                        aria-controls="collapse44" href="#">What is the mid-market rate?
                      </a>
                    </div>
                    <div id="collapse44" class="collapse" aria-labelledby="heading44" data-parent="#accordion">
                      <div class="card-body">
                        In the world's currency markets, traders define the rates at which they are willing to "buy" or
                        "sell" a specific currency. The mid-market rate is simply the midpoint between demand and supply
                        for a currency, and because of that, it changes all the time.
                        <br><br>
                        The most important thing to know is that the mid-market rate is considered the fairest exchange
                        rate possible. It’s the rate you will find on independent sources such as Google, XE and Yahoo
                        Finance.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading25">
                      <a class="card-title lead" data-toggle="collapse" data-target="#collapse25" aria-expanded="false"
                        aria-controls="collapse25" href="#">How to protect yourself from overpaying?
                      </a>
                    </div>
                    <div id="collapse25" class="collapse" aria-labelledby="heading25" data-parent="#accordion">
                      <div class="card-body">
                        Before you make a money transfer, or need to convert currency, make sure you check the real
                        mid-market rate and the overall payment especially if you are converting from one currency to
                        another. Don't settle for any exchange rate or high fees to make banks and other institutions
                        rich. Remember you worked hard for your cash and cost matters.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading26">
                      <a class="card-title lead" data-toggle="collapse" data-target="#collapse26" aria-expanded="false"
                        aria-controls="collapse26" href="#">What fees do you charge?</a>
                    </div>
                    <div id="collapse26" class="collapse" aria-labelledby="heading26" data-parent="#accordion">
                      <div class="card-body">
                        We charge the lowest, upfront and transparent fees for each transfer. That means no hidden fees
                        and no surprises. ZIPCO Remit is the first and ONLY company to offer two unbeatable standard
                        rates
                        across the globe;
                        <br><br>
                        $50-500 = $8.99 CAD/; $501.00 + = $17.99 CAD
                        <br><br>
                        $50-500 = $6.99 USD/; $501.00 + = $12.99 USD
                        <br><br>
                        $50-500 = $5.99 GBP/; $501.00 + = $9.99 GBP
                        <br><br>
                        $50-500 = $6.50 EUR/; $501.00 + = $11.99 EUR
                        <br><br>
                        50-500 = $99.99 ZAR/; $501.00 + = $199.99 ZAR
                        <br><br>
                        10K plus = 1% of the transacted amount
                        <br><br>
                        We always take fees from the amount you sent, and the beneficiary will not pay for the transfer.
                        There are two types of fees for sending money: the ZIPCO Remit fee, and a possible extra fee for
                        certain payment methods.
                        <br><br>
                        The extra fee depends on the currency you're sending.
                        How is the ZIPCO Remit fee calculated?
                        <br><br>
                        The fee is made of a percentage (%) fee and flat transaction fee; percentage fee- the % of the
                        amount you are sending.
                        <br><br>
                        It covers the cost of converting your money to a new currency Flat transaction fee- a very tiny
                        amount added to the percentage fee to certain routes. It covers the cost of sending money to
                        your
                        recipient after ZIPCO Remit converts it.
                        <br><br>
                        Was the article deserving a ZIPCO?
                        <br><br>
                        YES - 5 ZIPCO rewards
                        <br><br>
                        NO - 0 ZIPCO reward
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>