<div class="app-content content">
  <div class="content-wrapper mrgtop">
    <div class="content-body">
      <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
          <h3 class="content-header-title mb-0 d-inline-block pathffont">Change Password</h3>
          <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb pathsfont">
                <li class="breadcrumb-item">
                  <a [routerLink]="['/m-dashboard']">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Change Password</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">

        <div class="col-md-3" style="max-width: 285px;"></div>
        <div class="col-md-6" style="max-width: 570px;">
          <div class="card pull-up bg-zipco">
            <div class="card-content collapse show">
              <div class="card-body text-white">
                <form #changedata="ngForm" (ngSubmit)="changepassword(changedata.value)">

                  <h2 class="box-title text-center text-gold">Change Password</h2>

                  <fieldset class="form-group">
                    <label for="user-password" style="color: white;">Old Password</label>
                    <input type="password" class="form-control" name="oldpassword" [(ngModel)] = "oldpassword" id="user-password"
                      placeholder="Old Password" ngModel>
                  </fieldset>

                  <fieldset class="form-group">
                    <label for="new-password" style="color: white;">New Password</label>
                    <input type="password" class="form-control" name="newpassword" [(ngModel)] = "newpassword" id="new-password"
                      placeholder="New Password" ngModel>
                  </fieldset>

                  <fieldset class="form-group">
                    <label for="confirm-password" style="color: white;">Confirm Password</label>
                    <input type="password" class="form-control" name="conpassword" [(ngModel)] = "conpassword" id="confirm-password"
                      placeholder="Confirm Password" ngModel>
                  </fieldset>

                  <div style="text-align: center;">
                    <button type="submit" class="btn btn-zipco btn-round btn-min-width ourfont">
                      Save
                    </button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="max-width: 285px;"></div>

      </div>
    </div>
  </div>
</div>