<div class="app-content content">
  <div class="content-wrapper mrgtop">
    <div class="content-body">
      <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-6 col-12" style="max-width: 325px;">
          <div class="card bg-gradient-directional-danger pull-up">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-white text-left">
                    <h3 class="text-white">{{m_user_counter}}</h3>
                    <span>Total Users</span>
                  </div>
                  <div class="align-self-center">
                    <i class="la ft-users text-white font-large-2 float-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12" style="max-width: 325px;">
          <div class="card bg-gradient-directional-success pull-up">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-white text-left">
                    <h3 class="text-white">{{m_approve_kyc_counter}}</h3>
                    <span>KYC Approved</span>
                  </div>
                  <div class="align-self-center">
                    <i class="la la-check-circle-o text-white font-large-2 float-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12" style="max-width: 325px;">
          <div class="card bg-gradient-directional-amber pull-up">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-white text-left">
                    <h3 class="text-white">{{m_reject_kyc_counter}}</h3>
                    <span>KYC Rejected</span>
                  </div>
                  <div class="align-self-center">
                    <i class="la la-ban text-white font-large-2 float-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12" style="max-width: 325px;">
          <div class="card bg-gradient-directional-info pull-up">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-white text-left">
                    <h3 class="text-white">{{m_review_kyc_counter}}</h3>
                    <span>KYC In-Review</span>
                  </div>
                  <div class="align-self-center">
                    <i class="la la-hourglass-2 text-white font-large-2 float-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ICO Token &  Distribution-->
      <div class="row match-height justify-content-center">
        <div class="col-xl-8 col-12" style="max-width: 915px;">
          <div class="card pull-up bg-zipco">
            <div class="card-header card-header-transparent py-20" style="background: none;">
              <div class="btn-group dropdown">
                <h6 class="card-title" style="color: white;">Money Transfer History</h6>
              </div>
            </div>
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
          </div>
        </div>
        <div class="col-xl-4 col-12" style="max-width: 380px;"></div>
      </div>
    </div>
  </div>
</div>