<div class="content-wrapper">
  <div class="content-header row">
  </div>
  <div class="content-body">
    <div style="background: #17191d;background-image: url(https://zipcx.io/assets/images/01.png);">

      <div class="left_align_logo" style="position: fixed;z-index: 99999;padding: 30px;">
        <a href="https://zipcoinremit.com/" target="_blank">
          <img class="brand-logo" alt="modern admin logo" style="width: 150px;" src="assets/images/zipcoin.png">
        </a>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-5 d-none d-sm-none d-xs-none d-md-block">
            <img src="app-assets/images/img_2.png" style="position: fixed;left:0;width: 43%;height: auto" />
          </div>
          <div class="col-md-7"
            style="background-color:#17191d; background-image: url(https://zipcx.io/assets/images/01.png); background-repeat: no-repeat;background-position: top left;">

            <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

            <div class="container" style="padding-top: 145px;padding-bottom: 150px;">
              <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12">
                  <div class="login_wrapper" style="background: #131519;border-radius: 30px;">
                    <div class="row">
                      <div class="col-md-12">
                      </div>
                    </div>
                    <br>
                    <p style="font-size: 22px; font-weight:bold; color:#c88c39; text-align:center; line-height:normal;">
                      WELCOME TO ZIPCOIN REMIT</p>
                    <p class="text-center h5 text-capitalize subtitle" style="color: white;">Forgot Password</p>

                    <form class="form-horizontal form-signin" #forgotdata="ngForm"
                      (ngSubmit)="forgot(forgotdata.value)">
                      <fieldset class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Your Email" name="email" ngModel>
                      </fieldset>
                      <div style="text-align: center;">
                        <button type="submit" class="custom_btn_css" id="btn_forgotpassword">RECOVER MY
                          PASSWORD</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>