.custom_btn_css {
    background: #c88c39;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #c88c39;
    padding: 9px;
    border-radius: 3px;
}
.custom_btn_css:hover {
    background: #ffffff;
    color: #333;
    text-transform: uppercase;
    border: 1px solid #c88c39;
    padding: 9px;
    border-radius: 3px;
    cursor: pointer;
}
form label{
    color: white;
}